{{ column }}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th (click)="sort('id')">#</th>
      <!-- <th (click)="sort('id')">{{ keys[0] }}</th> -->
      <th (click)="sort('name')">név</th>
      <th (click)="sort('price')">ár</th>
      <th (click)="sort('category')">kategória</th>
      <!-- <th *ngFor="let key of keys" (click)="sort(key)">{{key}}</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList$ | async | sorter:column">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.category }}</td>
      <div class="btn-group">
        <button (click)="navigateUrl(product)" class="btn btn-primary">
          <i class="fa fa-pencil"></i>
        </button>
        <button (click)="onDelete(product)" class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </tr>
  </tbody>
</table>
